# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.env

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Node
node_modules/
